.App {
  text-align: center;
}

h1{
  background-color: #1976D2;
  margin-bottom: 0.75rem;
  color: white
}

input{
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  width:90%;
  border-radius: 0.5rem;
  border: 1px solid #1976D2 ;
}

select{
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #1976D2 ;
}

image{
  max-width: 100%;
  max-height: 100%;
}

.image1{
  max-width: 100%;
  max-height: 100%;
}

.positionSticky{
  position: sticky;
  top:0;
  right: 0;
  background-color:white;
  -webkit-box-shadow: 0 8px 6px -6px black;
       -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;
}

button{
  background-color: #1976D2;
  border: none;
  color: white;
  padding: 0.5rem 0.75rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.pagination{
  padding:1rem;
}
.pagination>*+*{
  margin-left:0.5rem
}

.main{
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  margin: 2em;
}

.noResult{
  height: calc(100vh - 11rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.beerbrand{ 
  display: flex; 
  flex-direction: column;
  border: 1px solid #1976D2 ;
  justify-content: space-between;
  border-radius: 1rem;
}

.beerbrand--image{
  display: grid;
  place-items: center;
  padding: 1rem;
  height: 50%;
}

.beerbrand-info{
  height: 50%;
}

.beerbrand-name{
  background-color: #1976D2;
  color: white
}

.beerbrand-subInfo{
  text-align: left;
  padding: 0.5rem;
  font-size: 0.75rem;
}

.beerbrand-label{
  font-size: 0.6rem;
  background-color: #1976D2;
  color: white;
  border-radius: 4px;
  padding: 0.1rem;
}

